h1 {
  font-family: "Helvetica";
  color: white;
  background-color: #333;
  padding: 1em 0;
  text-align: center;
}
p {
  color: #333;
  font-weight: bold;
}

img {
  max-width: 300px;
  max-height: 500px;
  border-radius: 70%;
  border: 1px solid #333;
}

.highlighted {
  background-color: yellow;
}

#link {
  background-color: lightgray;
}

li.highlighted /* <li class="highlighted"> */
li .highlighted /* <li> < ?? class="highlighted"> */


ol li {
  font-size: 1.5em;
}
